<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Demo1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stydemo1.css') }}">
    <link rel="stylesheet" href="/flask-heroku/static/stydemo1.css">
   
    

</head>
<body>

    <header>
        <h1>孤獨食堂</h1>
        <p>
            <a href="">關於我們</a>
            <a href="">系列產品</a>
            <a href="">店面資訊</a>
            <a href="">客戶服務</a>
        </p>
    </header>
    <div id="banner"></div>

    <div id="info1">
        <div id="info1Left"></div>
        <div id="info1Right">
            <h3>深夜的美食家 2019</h3>
            <p>從事保養品開發的獨來獨往男子，利用到各地洽談生意或拜訪親友的空檔，吃遍台灣及異國美食。每次集中思考一件事時就容易肚子餓，便開始尋找想吃的料理，吃飯時總是會多點幾樣來滿足自己的味蕾。</p>
        </div>
    </div>

    <div id="info2">
        <div id="info2Left">
            <h3>鮭魚奶油炊飯</h3>
            <p>毫無顧慮地享受美食這種孤高行為，才是平等地賦予現代人的，最大程度的治癒。</p>
        </div>
        <div id="info2Right"></div>
    </div>

    <div id="info3">
        <div id="info3Left"></div>
        <div id="info3Right">
            <h3>炸豬排</h3>
            <p>豬排淋上特製的醬汁，炸衣不會太厚，肉質頗為緊實</p>
        </div>
    </div>
    
    <div id="cf"></div>

    <div id="info4">
        <div id="info4Left">
            <h3>茄汁培根義大利麵</h3>
            <p>微酸帶點輕辣口感的義大利麵，味道清爽不太過複雜，而且非常開味。</p>
        </div>
        <div id="info4Right"></div>
    </div>
    <div id="info5">
        <div id="info5Left"></div>
        <div id="info5Right">
            <h3>脆皮烤鴨</h3>
            <p>餅皮夠薄且富彈性，蔥段新鮮不辛辣，甜麵醬鹹甜適中，烤鴨皮香脆而肉鮮甜滑嫩。</p>
        </div>
    </div>
    <footer>
    
        <h2>孤獨食堂</h2>
        <span>
            使用須知
            常見問題
            網站導航
        </span>
        <span>
            隱私政策
            聯繫我們
            相關站點
        </span>
        <span>
            Facebook
            Instagram
            Youtube
        </span>
        <p>&copy;2019 孤獨食堂</p>
    </footer>
</body>
</html>
